body {
	background-color: #0F2E74;
	color: #fff;
	font-family: 'Lato', sans-serif;
}
section {
    width: 80%;
    height: 430;
    margin: auto;
    padding: 58px;
}
div#left {
    margin-left: 10%;
    height: 800px;
    width: 40%;
    float: left;
    text-align: centre;
}
div#right {
    width: 31%;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    margin-left: 0px;
    text-align: center;
}
h2 {
  font-size: 35px;
}
h3 {
	color: #2ca8d2;
	max-width: 300px;
}
#top {
	text-align: center;
	color: rgb(254, 225, 65);
	width: 100%;
	background-color: blue;
}
.hierarchyBtn {
    width: 38px;
    border: none;
    height: 30px;
    margin-left: 13px;
    background: white;
}
.selected {
    background: rgb(85, 183, 241);
    color: white;
}

button#otherCinemas {
  margin-top: 26px;
  background: rgb(85, 183, 241);
  border: none;
  color: white;
  height: 36px;
}